/AngularSite/bin
/AngularSite/obj
/MVCSite/bin
/MVCSite/obj
/Hoang.AwesomeAngularJs.Core.BusinessLogic/bin
/Hoang.AwesomeAngularJs.Core.BusinessLogic/obj
/Hoang.AwesomeAngularJs.Core.Domain/obj
/Hoang.AwesomeAngularJs.Core.Domain/bin
/Hoang.AwesomeAngularJs.Core.Respositories/obj
/Hoang.AwesomeAngularJs.Core.Respositories/bin
/WebApplication1/obj
/WebApplication1/bin
/packages
/Hoang.AwesomeAngularJs.Infrastructure.BusinessLogic/bin
/Hoang.AwesomeAngularJs.Infrastructure.BusinessLogic/obj
